label, .Label {
    position: absolute;
    top: -7.5%;
    left: 0;
    z-index: 1;
    display: block;
    padding: 0 1rem;
    margin-left: 1rem;
    font-size: 16px;
    line-height: 1rem;
    color: $colors-textPrimary;
    text-align: left;
    background: $colors-bgPrimary;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.Label--populated {
    opacity: 1;
}