.ModalMask {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: $colors-bgModal;
}

.Modal {
    width: 70%;
    padding: 2rem;
    background-color: $colors-bgPrimary;
    border: 0.1rem solid $colors-accentPrimary;
}