$colors-greyLight: #acacac;
$colors-bgPrimary: #1a1a29;
$colors-textPrimary: #fff;
$colors-accentPrimary: #00efe6;

$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 991px;
$breakpoints-xl: 1220px;